@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased;
  }
}

@layer utilities {
  .cursor-block {
    cursor: none;
  }
  
  .cursor-underscore {
    cursor: none;
  }
  
  .cursor-pointer {
    cursor: pointer;
  }
  
  .cursor-crosshair {
    cursor: crosshair;
  }
}

@keyframes blink {
  0%, 50% {
    opacity: 1;
  }
  51%, 100% {
    opacity: 0;
  }
}